.gradient-bg {
  background: linear-gradient(50deg, #0abfbcd3, #fc354cd3, #a4325ad3);
  animation: gradient-animation 20s ease-in infinite alternate-reverse both;
  background-size: 500% 500% !important;
}

@keyframes gradient-animation {
  0% {
    background-position: right top;
  }
  50% {
    background-position: left bottom;
  }
  100% {
    background-position: right top;
  }
}
